@use "../../lib/service.scss" as s;
.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.header h1 {
  font-size: 32px;
  margin: 0;
}

.header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.header nav ul li {
  margin: 0 10px;
}

.header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s;
  border-bottom: 2px solid transparent;
}

.header nav ul li a:hover {
  color: #ff6600;
  border-bottom: 2px solid #ff6600;
}

.form {
    display: flex;
    flex-direction: column;
    padding: s.space(4);
    gap: s.space(8);

    &__title {
        font-size: s.space(5);
        font-weight: bold;
        padding-bottom: s.space(1);
        border-bottom: 1px solid s.color("light");
    };

    &__content {
        display: grid;
        gap: s.space(6);
    };

    &__field {
        display: flex;
        flex-direction: column;
        gap: s.space(1);
    }

    &__label {
        font-size: s.space(3);
    }

    &__input {
        border: 1px solid s.color("light");
        padding: s.space(2);
    }

    &__button {
        border: 1px solid s.color("light");
        padding: s.space(2);
        border-radius: 20px;
    }
};

main {
    display: flex;
    flex-direction: column;
    gap: s.space(10);
}

.user-list {
    li {
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
  }