<body>
    <div class="product-alert-container">
        <div class="product-alert">
            <h1>{{data.message}}</h1>
            <p>{{data.info}}</p>
            <a href="{{data.link}}" class="button">Повернутись назад</a>
        </div>
    </div>
</body>
