<main class="main">
    {{> heading title="Товари" info="Компютери та ноутбуки/Компютери, неттопи, моноблоки"}}

    <div class="product-list">
        {{#each data.list}} 
            {{> purchase-product data=this}}
        {{/each}}
    </div>
</main>