@use '../../component/heading/style.scss' as heading;
@use '../../component/purchase-product/style.scss' as purchaseProduct;
@use '../../component/field/style.scss' as field;
@use '../../component/divider/style.scss' as divider;
@use '../../component/button/style.scss' as button;

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  text-align: center;
  gap: 100px
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  text-align: left;
}

.title {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  margin: 0;
  font-size: 24px;
}

.customer-info__item {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}

.customer-info__label {
  font-weight: bold;
}

.order-info__item {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}

.order-info__label {
  font-weight: bold;
}

.return-link {
  text-decoration: none;
  color: #007BFF;
  font-size: 18px;
  transition: color 0.3s;
  display: block;
  margin-top: 20px;
}

.return-link:hover {
  text-decoration: underline;
  color: #0056b3;
}