<div class="container">
    <h2 class="edit-title">Редагування даних про замовника</h2>
    <form class="edit-customer-form">
        <div class="form-group">
            <label for="editFirstname">Ім'я:</label>
            <input type="text" id="editFirstname" name="editFirstname">
        </div>
        <div class="form-group">
            <label for="editLastname">Прізвище:</label>
            <input type="text" id="editLastname" name="editLastname">
        </div>
        <div class="form-group">
            <label for="editPhone">Телефон:</label>
            <input type="text" id="editPhone" name="editPhone">
        </div>
        <div class="form-group">
            <label for="editEmail">Email:</label>
            <input type="email" id="editEmail" name="editEmail">
        </div>
        <div class="form-group">
            <label for="editComment">Коментар:</label>
            <textarea id="editComment" name="editComment"></textarea>
        </div>
        <button class="save-button">Зберегти</button>
         <a href="/purchase-info/{{id}}">Повернутися</a>
    </form>
</div>