@use '../../component/heading/style.scss' as heading;
@use '../../component/purchase-product/style.scss' as purchaseProduct;
@use '../../component/field/style.scss' as field;
@use '../../component/divider/style.scss' as divider;
@use '../../component/button/style.scss' as button;

/* Стилі для форми редагування даних про замовника */
.container {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
}

.edit-title {
    font-size: 20px;
    margin-top: 0;
}

.form-group {
    margin: 10px 0;
}

label {
    font-weight: bold;
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.save-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
