@use '../../component/button/style.scss' as button;
/* Стилі для контейнера товару */
.product-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    background-color: #fff;
    margin: 10px;
}

/* Стилі для зображення товару */
.product-card__image {
    max-width: 100%;
    height: auto;
}

/* Стилі для назви товару */
.product-card__title {
    font-size: 24px;
    margin: 10px 0;
}

/* Стилі для опису товару */
.product-card__subtitle {
    font-size: 16px;
    margin: 10px 0;
}

/* Стилі для категорій товару */
.product-card__category {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    padding: 4px 8px;
    margin: 4px;
}

.product-card__category--1 {
    background-color: #007bff;
}

.product-card__category--2 {
    background-color: #28a745;
}

.product-card__category--3 {
    background-color: #ffc107;
}

/* Стилі для кнопки "Купити" */
.product-card__button {
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.product-card__button:hover {
    background-color: #1e7e34;
}
