<main class="main">
    {{#with data}}
        <div class="main__content">
            <div class="header">
                <h1 class="title title--center">Моя бібліотека</h1>
                <div class="header__container">
                    <a href="/spotify-search" class="header__item">
                        <img src="/svg/search.svg">
                    </a>
                    <a href="/spotify-create" class="header__item">
                        <img src="/svg/plus.svg">
                    </a>
                </div>
            </div>

            <div class="content">
                {{#each playlists}}
                    <div class="playlist">
                        <img src="/svg/playlist.svg" alt="">
                        <h2 class="playlist__title">{{this.name}}</h2>
                        <!-- Додайте інші елементи плейліста за потребою -->
                    </div>
                {{/each}}
            </div>
        </div>
    {{/with}}
</main>