<div class="product-create-container">
  <h1>Створення нового товару</h1>
  <form method="POST" action="/product-create">
    <label for="name">Назва товару:</label>
    <input type="text" id="name" name="name" required>
    <label for="price">Ціна товару:</label>
    <input type="number" id="price" name="price" required>
    <label for="description">Опис товару:</label>
    <textarea id="description" name="description" required></textarea>
    <button type="submit">Створити товар</button>
  </form>
</div>

